.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .BannerImage {
  width: 100vw;
} */

.InstagramReelDiv {
  overflow: auto;
  height: 45vw;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vw;
}

.InstagramBox {
  position: relative;
  width: 32v;
  height: 32vw;
  overflow: hidden;
}

.InstagramBox img {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.OfferDivMain {
  display: flex;
  flex-direction: row;
  height: 30vw;
}

.OfferLeft {
  height: 100%;
  width: 60vw;
  display: flex;
  flex-direction: row;
  text-transform: uppercase;
}

.OfferRight {
  width: 40vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.BookNow {
    background-color: #0D1973;
    border: none;
    color: white;
    padding: 0.6em 1.3em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    font-weight: normal;
    margin-right: 5vw;
}

.likeWrapper {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.likeWrapper img {
  
}

.offerWrapper {
  width: 80%;
  text-align: left;
  padding-left: 2em;
}

.likeButtonWrap {
  width: 27px;
  height: 27px;
}

.city {
  font-size: 2.2em;
  margin-top: 0.9em;
  margin-bottom: 0.1em;
  font-family: Helvetica;
  color: rgb(75, 75, 75);
}

.from {
  margin-top: 0.2em;
  color: #0D1973;
  display: inline-block;
  font-size: 1.1em;
}

.price {
  margin-top: 0.0em;
  font-family: 'Teko', sans-serif;
  color: #0D1973;
  display: inline-block;
  font-size: 2.3em;
  font-weight: bold;
}


::-webkit-scrollbar { 
  display: none; 
}


.Banner {
  position: relative;
  width: 100vw;
  height: 60vw;
  overflow: hidden;
}
.Banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail .Portrait {
  width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/* 
* Add Frost effect on top of the banner image
*/ 

#overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  color: rgba(130, 130, 130, 0.5);
  font-size: 50px;
  text-align: center;
  line-height: 1em;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
}

#blursvg {
  position: absolute; 
  top: 0;
  filter: blur(5px);
  display: none;
}