.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/* .BannerImage {
  width: 100vw;
} */

.InstagramReelDiv {
  overflow: auto;
  height: 45vw;
  width: 100vw;
  display: grid;
  /* grid-template-columns: 30vw 30vw 30vw; */
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5vw;
}

.InstagramBox {
  position: relative;
  width: 32v;
  height: 32vw;
  overflow: hidden;
}

.InstagramBox img {
  position: absolute;
  overflow: hidden;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 100%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}

.OfferDivMain {
  display: flex;
  flex-direction: row;
  height: 30vw;
}

.OfferLeft {
  height: 100%;
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-transform: uppercase;
}

.OfferRight {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BookNow {
    background-color: #0D1973;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-weight: normal;
    margin-right: 5vw;
}

.city {
  font-size: 1.5em;
}

.from {
  color: #0D1973;
  display: inline-block;
}

.price {
  color: #0D1973;
  display: inline-block;
}


::-webkit-scrollbar { 
  display: none; 
}


.Banner {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
}
.Banner img {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail .Portrait {
  width: 100%;
  height: auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
